*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.lista{
    list-style: none;
    width: 900px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cabezera{
    display: flex;
    justify-content: space-between;
}
.jumbotron{
    width: 100%;
    height: 500px;
    background-image: url(museo.jpg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
#titulo{
    text-align: center;
    padding-top: 70px;
    font-size: 1.5rem;
}
#temp{
    text-align: center;
    padding-top: 70px;
    font-size: 1.5rem;
}
#age{
    text-align: center;
    padding-top: 70px;
    font-size: 1.5rem;
}
.menu{  
    margin:0px auto;
    width: 70%;
    display:grid;
    gap: 15px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 150px repeat(2,1fr);
}
#titulo{
    grid-column: 1 / -1;
}

.destacados > img{
    width: 100%;
    height: 90%;
    border-radius: 15px;
    cursor:pointer;
}
.artista{
    text-align: center;
}
.temporales{
    margin:0px auto;
    width: 70%;
    display:grid;
    gap: 20px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 150px 1fr;
}
#temp{
    grid-column: 1 / -1;
}
.temporal >img{
    width: 100%;
    height: 90%;
    border-radius: 15px;
    cursor:pointer;
}